<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="QueriesFile" fileName="logs/queries.log">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="ErrorsFile" fileName="logs/errors.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.example.QueriesLogger" level="DEBUG">
            <AppenderRef ref="QueriesFile"/>
        </Logger>

        <Logger name="org.example.ErrorsLogger" level="ERROR">
            <AppenderRef ref="ErrorsFile"/>
        </Logger>
    </Loggers>

</Configuration>